* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(43 48 53);
    color:#85948800;
    font-size: 20px;
    line-height: 1.6;
}

a {
    color: #ffff;
    text-decoration: none;
}
.myCont {
    width: 600px;
    height: 500px;
    margin: 200px auto;
    padding: 40px 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(43 48 53);
    box-shadow: 1px 1px;
    color: #DEE2e6;
    text-align: center;
    
}

.inp{
    width: 400px;
    padding: 5px 5px;
    background-color: rgb(21 25 29);
    color: white;   
    
}
#mail {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#password {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn {
    margin-top: 10px;
}
.fail {
    background-color: white;
    color: red;
}